*{margin:0px;padding:0px;}
#userList{width:100%;height:100px;;background:#ffffff}
table{width: 100%;margin:0px auto;height:100%;
		border-collapse: collapse;font-size: 15px;
		font-family: "微软雅黑";
		margin-bottom: 30px;
		}

table td{border: 1px solid #666;text-align: center;}
table #tr1{height: 40px;background: #3399cc;}
table tr{height: 30px;border:1px solid #666;}
